.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem ;
    width: 100%;
    box-shadow: var(--header-shadow);
    transition: all .3s;

    h1 {
      font-size: 1.4rem;
    }

    button {
      display: flex;
      align-items: center;
      column-gap: 10px;
      background-color: transparent;
      border: 0;
      color: var(--text-color);
      font-size: 1rem;
      cursor: pointer;
    }

    @media (max-width: 550px) {
      & {
        padding: 1.5rem 2rem;
      }
    }

    @media (max-width: 450px) {
      & {
        padding: 1.5rem 1rem;

        h1 {
          font-size: 1.1rem;
        }

        button {
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: 330px) {
      & {
        h1 {
          font-size: 1rem;
        }

        button {
          font-size: 0.8rem;
        }
      }
    }
  }