.countryCard {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: white;
    color: black;
    border-radius: 7px;

    img {
        min-width: 100%;
        border-radius: 7px 7px 0 0;
    }

    .countryInfo {
        display: flex;
        flex-direction: column;
        padding: 30px;

        h1 {
            margin-bottom: 25px;
        }

        span {
            font-size: 1.2rem;
            margin-bottom: 7px;
        }
    }
}